body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.main {

}

.hero {

}

.content {

}

.quote {

}

.promote {

}

.footer {

}



