body {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 62px;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    align-self: flex-start;
}

button {
    background: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 12px;
}

.elephant {
    padding-top: 62px;
    padding-bottom: 62px;
}

.content {
    text-align: center;
}

.content-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 62px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 52px;
}

.element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 250px;
    gap: 8px;
    color: #4c4c4c;
    font-size: 18px;
}

.element-img {
    border-radius: 8%;
    border: solid #3882F6 5px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 62px;
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 800px;
    font-style: italic;
}

.quote-end {
    display: flex;
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.promote {
    padding: 62px;
}

.footer {
   text-align: center;
}



